# Python
venv/
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Node
frontend/node_modules/
frontend/.svelte-kit/

# Docker
pgdata/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
